/* theme schemes */
/* light */
@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #17202a;
    --secondary-color: #273746;
    --accent-color: #273746;
    --primary-text-color: #abb2b9;
    --secondary-text-color: #566573;
    --primary-illustration-color: #7b241c;
    --secondary-illustration-color: #808b96;
    --third-illustration-color: #566573;
  }
}

/* dark */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #eaecee;
    --secondary-color: #d5d8dc;
    --accent-color: #d5d8dc;
    --primary-text-color: #212f3d;
    --secondary-text-color: #566573;
    --primary-illustration-color: #922b21;
    --secondary-illustration-color: #808b96;
    --third-illustration-color: #566573;
  }
}
