/* normalize browsers default styles, browsers render elements more consistently */
@import url('./styles/normalize.css');

/* theme schemes */
@import url('./styles/theme.css');

/* fonts */
@import url('./styles/font.css');

/* global variables  */
:root {
  /* default colors */
  --default-bg-color: #fff;
  --default-text: #000;

  /* neutral colors */
  --off-white: #f2f2f2;
  --light-gray: #d9d9d9;
  --medium-gray: #a0a0a0;
  --dark-gray: #606060;

  /* app colors */
  --primary-color: #17202a;
  --secondary-color: #273746;
  --accent-color: #273746;
  --primary-text-color: #abb2b9;
  --secondary-text-color: #566573;

  /* fonts */
  --sans-serif-font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
    Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --mono-font-stack: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-size-base: 16px;
  --font-weight-base: 400;
  --line-height-base: 1.5;

  /* device breakpoints */
  --breakpoint-mobile: 768px;
  --breakpoint-tablet: 1024px;
  --breakpoint-desktop: 1440px;

  /* theme */
  --color-scheme: light dark;

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
}

/* global styles */
body {
  font-family: 'Google Sans', var(--sans-serif-font-stack);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', var(--sans-serif-font-stack);
  font-size: 2em;
  margin-bottom: 1em;
}

p {
  margin-bottom: 0.5rem;
}

a {
  font-family: 'JetBrains Mono', var(--mono-font-stack);
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: 'JetBrains Mono', var(--mono-font-stack);
  font-size: 13px;
  background-color: var(--off-white);
  padding: 5px;
  border: var(--dark-gray);
  border-radius: 3px;
  white-space: pre-wrap; /* Preserve line breaks */
  overflow-x: auto; /* Allow horizontal scrolling if necessary */
}

/* Media queries */
@media (max-width: var(--breakpoint-mobile)) {
  /* Mobile-specific styles */
}

@media (min-width: var(--breakpoint-tablet)) and (max-width: var(--breakpoint-desktop)) {
  /* Tablet-specific styles */
}

@media (min-width: var(--breakpoint-desktop)) {
  /* Desktop-specific styles */
}
