/* fonts */
@import url('./styles/font.css');

/* global variables  */
:root {
  /* default colors light */
  --primary-color-light: #c0392b;
  --secondary-color-light: #2980b9;
  --bg-default-color-light: #eaecee;
  --bg-paper-color-light: #d5d8dc;
  --text-color-light: #212f3d;
  --divider-color-light: #abb2b9;

  /* default colors dark */
  --primary-color-dark: #1a5276;
  --secondary-color-dark: #7b241c;
  --bg-default-color-dark: #17202a;
  --bg-paper-color-dark: #273746;
  --text-color-dark: #eaecee;
  --divider-color-dark: #566573;

  /* neutral colors */
  --black: #fff;
  --white: #000;
  --off-white: #f2f2f2;
  --light-gray: #d9d9d9;
  --medium-gray: #a0a0a0;
  --dark-gray: #606060;

  /* Typography */
  /* fonts */
  --headers-font: 'Rubik';
  --sans-serif-font: 'Google Sans';
  --mono-font: 'JetBrains Mono';
  --signature-font: 'Motterdam';
  /* signature fonts: Autography, , Motterdam, Agustina, Bulgatti, Magellin, Tomatoes, ThePrestigeSignature, SattriaHandsome */

  /* font stacks */
  --sans-serif-font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
    Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --mono-font-stack: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

  --font-size-base: 62.5%; /* 62.5% of 16px = 10px */

  --scrollbar-thumb-color: #c0392b40;
  --scrollbar-thumb-color-hover: #c0392b90;
}

html {
  font-size: var(--font-size-base);
  overflow-y: auto;
  /* scrollbar-gutter: stable both-edges; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --scrollbar-thumb-color: #1a527640;
    --scrollbar-thumb-color-hover: #1a527690;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-color-hover);
}

/* Home */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
